@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*
$font_title : 'Lato', sans-serif;
$font_subtitulo: "Gentium Book Basic script=all rev=2";
$font_parrafo: 'Quicksand', sans-serif;
*/
p, h1, h2, h3, div, ul, li, div, section {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

li {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.d-flex {
  display: -ms-flexbox;
  display: flex; }

.d-flex_center {
  -ms-flex-pack: center;
  justify-content: center; }

.d-flex_left {
  -ms-flex-pack: left;
  justify-content: left; }

.d-flex_right {
  -ms-flex-pack: right;
  justify-content: right; }

.center {
  text-align: center; }

.hidden {
  display: none; }

/*DATE PICKER*/
.fecha {
  text-align: center;
  font-size: 18px;
  color: #808080; }

.ui-datepicker.ui-widget.ui-widget-content {
  background: #01aeef; }

.ui-datepicker-header.ui-widget-header {
  background: #01aeef;
  border: none;
  color: white; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none !important;
  background: white !important;
  font-weight: normal !important;
  color: red !important;
  border-radius: 4px !important; }

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #01aeef !important;
  background: #01aeef !important;
  font-weight: normal !important;
  color: #ffffff !important; }

.ui-widget-content {
  border: 1px solid white !important;
  color: #ffffff !important; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: white !important;
  color: #01aeef !important; }

/*  Fin date picker */
/*SELECT2*/
.chosen-container {
  width: 100% !important; }

/*  Fin select2 */
body {
  background: url(../img/textura-interseguro.jpg) fixed center;
  font-size: 16px;
  color: #808080;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

input:focus, select:focus {
  outline: transparent; }

main {
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: calc(100vh - 50px); }

.contenedor {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px; }

.navInterseguro {
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
  .navInterseguro__logo img {
    height: 65px; }
  .navInterseguro__menu {
    display: none; }

.cotizador {
  padding-top: 50px; }
  .cotizador__titulo {
    padding-top: 16px;
    padding-bottom: 16px; }
    .cotizador__titulo--destino {
      font-size: 26px;
      color: #0054a6;
      font-weight: 500; }
  .cotizador__body {
    padding-top: 16px; }

.filtros__elementos {
  width: 100%;
  height: 95px; }
  .filtros__elementos label {
    color: #808080;
    font-size: 14px;
    padding-bottom: 6px;
    display: inline-block;
    font-weight: 700; }

.filtros__elementos input {
  text-align: center;
  width: 100%;
  height: 55px;
  border-top: 1px solid #01aeef4f;
  border-left: 1px solid #01aeef4f;
  border-right: 1px solid #01aeef4f;
  border-bottom: 8px solid rgba(16, 130, 192, 0.1) !important; }

.filtros__elementos .select2-selection.select2-selection--single {
  width: 100%;
  height: 55px;
  border-top: 1px solid #01aeef4f;
  border-left: 1px solid #01aeef4f;
  border-right: 1px solid #01aeef4f;
  border-bottom: 8px solid rgba(16, 130, 192, 0.1) !important;
  height: 65px; }

.filtros__elementos .select2-selection__rendered {
  line-height: 55px !important; }

.filtros #cotizar {
  background-color: #0054a6;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border: 0;
  box-shadow: none;
  margin-top: 16px;
  font-size: 18px;
  border-radius: 25px;
  transition: .7s; }
  .filtros #cotizar:hover {
    background: #01aeef;
    transition: .7s; }

.filtros #cotizar {
  cursor: pointer; }

.filtros .box-btn {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end; }

/* ****************************** */
.planes__table {
  border-collapse: collapse;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .planes__table--item {
    width: 33.3%;
    font-size: 18px;
    color: white; }
    .planes__table--item p {
      padding-bottom: 15px; }
  .planes__table h4 {
    margin-bottom: 5px; }
  .planes__table--item:nth-child(1) {
    background: #01aeef; }
  .planes__table--item:nth-child(2) {
    background: #0054a6; }

#cotizadorViajes {
  border-top: 2px solid whitesmoke;
  padding-bottom: 50px; }

.cotizaciones__table {
  border-collapse: collapse;
  background-color: white;
  width: 100%; }
  .cotizaciones__table thead th {
    height: 35px;
    background: #E0E0E0;
    color: #808080;
    text-align: center;
    font-size: 20px; }

.cotizaciones thead {
  background-color: #01aeef;
  color: white; }

.cotizaciones td, .cotizaciones th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33.3%; }

.cotizaciones td:nth-child(2) {
  text-align: center; }

.cotizaciones td:nth-child(3) {
  text-align: center; }

.cotizaciones tbody tr:nth-child(odd) {
  background-color: #f5f5f5; }

footer .derechos {
  height: 50px;
  background: #0054a6;
  color: white;
  line-height: 50px; }

@media only screen and (min-width: 601px) {
  .filtros {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .filtros__elementos {
      width: 50%;
      padding-left: 16px;
      padding-right: 16px; } }

@media only screen and (min-width: 901px) {
  .navInterseguro__logo {
    width: 190px; }
  .navInterseguro__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-right: 16px; }
    .navInterseguro__menu li {
      width: 120px; }
    .navInterseguro__menu li a {
      color: #01aeef;
      text-decoration: none; } }

@media only screen and (min-width: 1201px) {
  .filtros {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .filtros__elementos {
      width: 25%;
      padding-left: 16px;
      padding-right: 16px; } }

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .contenedor {
    width: 98%;
    margin: auto; }
  .navInterseguro {
    padding: 0 2%; } }

@media screen and (min-width: 1600px) and (orientation: landscape) {
  .contenedor {
    width: 80%;
    margin: auto; }
  .navInterseguro {
    padding: 0 10%; } }
